<div>
	<div class="dropdown">
		<button id="newsbtn" class="dropbtn"><a style="color:white;text-decoration:none;" href="/news/">news</a></button>
	</div>

<div class="dropdown">
	<button id="dropbtn2023" class="dropbtn">2023</button>
	<div class="dropdown-content">
		<a href="/2023_overall.html">overall</a>
		<a href="/2023_astami.html">2023-astami</a>
		<a href="/2023_dasami.html">2023-dasami</a>
	 </div>	
	  
</div>


	<div class="dropdown">
		<button  id="dropbtn2022" class="dropbtn"><a style="color:white;text-decoration:none;" href="/2022.html">2022</a></button>
	</div>


	<div class="dropdown">
		<button id="dropbtn2021" class="dropbtn">2021</button>
	  <div class="dropdown-content">
		<a href="/2021_sasthi.html">2021-sasthi</a>
		<a href="/2021_saptami.html">2021-saptami</a>    
		<a href="/2021_astami.html">2021-astami</a>
		<a href="/2021_astamievening.html">2021-astamievening</a>

	  </div>	
	  
	</div>

	<div class="dropdown">
		<button  id="dropbtn2020" class="dropbtn"><a style="color:white;text-decoration:none;" href="/2020.html">2020</a></button>
	</div>


	<div class="dropdown">
	  <button  id="dropbtn2019" class="dropbtn">2019</button>
	  <div class="dropdown-content">
		<a href="/2019_anandamela.html">2019-anandamela</a>
		<a href="/2019_panchami.html">2019-panchami</a>
	  </div>
	</div>


	<div class="dropdown">
	  <button id="dropbtn2018" class="dropbtn">2018</button>
	  <div class="dropdown-content">
		<a href="/2018_anandamela.html">2018-anandamela</a>
		<a href="/2018_panchami.html">2018-panchami</a>
		<a href="/2018_sasthi.html">2018-sasthi</a>
		<a href="/2018_saptami.html">2018-saptami</a>
		<a href="/2018_astami.html">2018-astami</a>
		<a href="/2018_nabami.html">2018-nabami</a>
		<a href="/2018_dasami.html">2018-dasami</a>
		<a href="/2018_ekadasi.html">2018-ekadasi</a>
	  </div>
	</div>

	<div class="dropdown">
	  <button  id="dropbtn2017" class="dropbtn">2017</button>
	  <div class="dropdown-content">
		<a href="/2017_anandamela.html">2017-anandamela</a>
		<a href="/2017_panchami.html">2017-panchami</a>
		<a href="/2017_sasthi.html">2017-sasthi</a>
		<a href="/2017_saptami.html">2017-saptami</a>
		<a href="/2017_astami.html">2017-astami</a>
	  </div>
	</div>
	<div class="dropdown">  
	  <button  id="dropbtn2016" class="dropbtn">2016</button>
	  <div class="dropdown-content">
		<a href="/2016_sasthi.html">2016-sasthi</a>
		<a href="/2016_saptami.html">2016-saptami</a>
		<a href="/2016_astami.html">2016-astami</a>
	  </div>
	</div>
	<div class="dropdown">  
	  <button  id="dropbtn2015" class="dropbtn">2015</button>
	  <div class="dropdown-content">
		<a href="/2015_panchami.html">2015-panchami</a>
		<a href="/2015_sasthi.html">2015-sasthi</a>
		<a href="/2015_saptami.html">2015-saptami</a>
		<a href="/2015_astami.html">2015-astami</a>
	  </div>
	</div>
	<div class="dropdown">  
	  <button  id="dropbtn2014" class="dropbtn">2014</button>
	  <div class="dropdown-content">
		<a href="/2014_panchami.html">2014-panchami</a>
		<a href="/2014_sasthi.html">2014-sasthi</a>
		<a href="/2014_saptami.html">2014-saptami</a>
		<a href="/2014_astami.html">2014-astami</a>
		<a href="/2014_nabami.html">2014-nabami</a>
		<a href="/2014_dasami.html">2014-dasami</a>
	  </div>
	</div>
	<div class="dropdown">  
	  <button  id="dropbtn2013" class="dropbtn">2013</button>
	  <div class="dropdown-content">
		<a href="/2013_sasthi.html">2013-sasthi</a>
		<a href="/2013_saptami.html">2013-saptami</a>
		<a href="/2013_astami.html">2013-astami</a>
		<a href="/2013_nabami.html">2013-nabami</a>
		<a href="/2013_ekadasi.html">2013-ekadasi</a>
		<a href="/2013_bubun.html">bubun's camera</a>	
	  </div>
	</div>
	<div class="dropdown">  
	  <button  id="dropbtn2012" class="dropbtn">2012</button>
	  <div class="dropdown-content">
		<a href="/2012_patuapara.html"> 2012-patuapara</a>
		<a href="/2012_sasthi.html"> 2012-sasthi</a>
		<a href="/2012_saptami.html">2012-saptami</a>
		<a href="/2012_astami.html"> 2012-astami</a>
		<a href="/2012_nabami.html"> 2012-nabami</a>
		<a href="/2012_dasami.html">2012-dasami</a>
		<a href="/2012_ekadasi.html">2012-ekadasi</a>	
	  </div>
	</div>
	<div class="dropdown">  
	  <button  id="dropbtn2011" class="dropbtn">2011</button>
	  <div class="dropdown-content">
		<a href="/2011_sasthi.html"> 2011-sasthi</a>
		<a href="/2011_saptami.html">2011-saptami</a>
		<a href="/2011_astami.html"> 2011-astami</a>
		<a href="/2011_nabami.html"> 2011-nabami</a>
	  </div>
	</div>
	<div class="dropdown">  
	  <button  id="dropbtn2010" class="dropbtn">2010</button>
	  <div class="dropdown-content">
		<a href="/2010_prep.html"> 2010-prep</a>
		<a href="/2010_sasthi.html"> 2010-sasthi</a>
		<a href="/2010_saptami.html">2010-saptami</a>
		<a href="/2010_astami.html"> 2010-astami</a>
		<a href="/2010_nabami.html"> 2010-nabami</a>
		<a href="/2010_dasami.html"> 2010-dasami</a>
		<a href="/2010_ekadasi.html"> 2010-ekadasi</a>
		<a href="/2010_picnic.html">  2010-picnic</a>
	  </div>
	</div>
	<div class="dropdown">  
	  <button  id="dropbtn2009" class="dropbtn">2009</button>
	  <div class="dropdown-content">
		<a href="/2009_sasthi.html"> 2009-sasthi</a>
		<a href="/2009_saptami.html">2009-saptami</a>
		<a href="/2009_astamitoi.html"> 2009-astami-toi</a>
		<a href="/2009_astamimisc.html"> 2009-astami-misc</a>
		<a href="/2009_astaminatok.html"> 2009-astami-natok</a>
		<a href="/2009_astamidhunuchi.html"> 2009-astami-dhunuchi</a>
		<a href="/2009_nabamishokal.html"> 2009-nabami-shokal</a>
		<a href="/2009_nabamisandhya.html"> 2009-nabami-sandhya</a>
		<a href="/2009_dasami.html"> 2009-dasami</a>
		<a href="/2009_ekadasi.html">2009-ekadasi</a>
	  </div>
	</div>
	<div  class="dropdown">  
	  <button  id="dropbtn2008" class="dropbtn">2008</button>
	  <div class="dropdown-content">
		<a href="/2008_sasthi.html"> 2008-sasthi</a>
		<a href="/2008_sasthifelicitation.html"> 2008-sasthi-felicitation</a>
		<a href="/2008_saptami.html">2008-saptami</a>
		<a href="/2008_astami.html"> 2008-astami</a>
		<a href="/2008_nabami.html"> 2008-nabami</a>
		<a href="/2008_dasami.html"> 2008-dasami</a>
	  </div>
	</div>
	<div class="dropdown">  
	  <button  id="dropbtn2007" class="dropbtn">2007</button>
	  <div class="dropdown-content">
		<a href="/2007_sasthi.html"> 2007-sasthi</a>
		<a href="/2007_saptami.html">2007-saptami</a>
		<a href="/2007_astami.html"> 2007-astami</a>
		<a href="/2007_nabami.html"> 2007-nabami</a>
		<a href="/2007_dasami.html"> 2007-dasami</a>
	  </div>
	</div>

	<div class="dropdown">
		<button  id="dropbtn2006" class="dropbtn"><a style="color:white;text-decoration:none;" href="/2006.html">2006</a></button>
	</div>

	<div class="dropdown">  
	  <button  id="dropbtn2005" class="dropbtn">2005</button>
	  <div class="dropdown-content">
		<a href="/2005_holi.html">   2005-holi</a>
		<a href="/2005_iday.html"> 2005-IDay</a>
		<a href="/2005_panchami.html">2005-panchami</a>
		<a href="/2005_sasthi.html">2005-sasthi</a>
		<a href="/2005_astamishokal.html"> 2005-astami-shokal</a>
		<a href="/2005_astamisandhya.html"> 2005-astami-sandhya</a>
		<a href="/2005_nabamishokal.html"> 2005-nabami-shokal</a>
		<a href="/2005_nabamisandhya.html"> 2005-nabami-sandhya</a>
		<a href="/2005_ekadasi.html">2005-ekadasi</a>
	  </div>
	</div>
	<div class="dropdown">  
	  <button  id="dropbtn2004" class="dropbtn">2004</button>
	  <div class="dropdown-content">
		<a href="/2004_pujaPrep.html">2004-pujaPrep</a>
		<a href="/2004_sasthi.html">  2004-sasthi</a>
		<a href="/2004_saptami.html"> 2004-saptami</a>
		<a href="/2004_astami.html">  2004-astami</a>
		<a href="/2004_nabami.html">  2004-nabami</a>
		<a href="/2004_dasami.html">  2004-dasami</a>
		<a href="/2004_ekadasi.html"> 2004-ekadasi</a>
		<a href="/2004_awards.html">  2004-awards</a>
		<a href="/2004_picnic.html">  2004-picnic</a>
	  </div>
	</div>
	<hr/>
	<br/>
</div>



