<div class="dropdown">
  <button class="dropbtn">2017</button>
  <div class="dropdown-content">
    <a href="/2017_anandamela.html">2017-anandamela</a>
    <a href="/2017_panchami.html">2017-panchami</a>
    <a href="/2017_sasthi.html">2017-sasthi</a>
    <a href="/2017_saptami.html">2017-saptami</a>
    <a href="/2017_astami.html">2017-astami</a>
  </div>
</div>
<div class="dropdown">  
  <button class="dropbtn">2016</button>
  <div class="dropdown-content">
    <a href="/2016_sasthi.html">2016-sasthi</a>
    <a href="/2016_saptami.html">2016-saptami</a>
    <a href="/2016_astami.html">2016-astami</a>
  </div>
</div>
<hr/>
<br/>